body{
    background-color: #fdf5e6;
    font-family: 'Garamond';
    font-size: 20px;
    font-weight:500;
}

h4{
    text-align: center;
}

nav{
    background-color: #9c5e1f;

}

.banner{
    text-align:center;
    margin: 20px;

}

.banner img{
    border-radius: 10px;
}

#about{
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.products img{
    width: 300px; 
    height: 300px; 
    object-fit: contain; 
    border-radius: 10px; 
    margin: 0 auto; 
}

.carousel img{
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 10px;
}

.carousel{
    max-width: 800px;
    margin: 0 auto;
}

#products, #biscoitos{
    background-color: #fdf5e6;
    padding: 5px;
    border-radius: 8px;
}

#contact{
    background-color: #e2a76c;

}

#icons{
    text-align: center;
}

footer{
    background-color: #9c5e1f;
    padding: 20px 0px;
    text-align: center;
}